body {
  margin: 0px;
  text-align: center;
  font-family: georgia;
}

h1 {
    font-size: 45px;
    color: darkseagreen;
    text-shadow: 0px 3px lightgray;
}

img {
    margin: 60px auto 28px;
    display: block;
    box-shadow: 0px 0px 4px 3px slategray;
}


#mona-lisa {
  width: 200px;
} 

#street {
  width: 700px;
}

#sea {
  width: 700px;
}
